@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree&family=Lato&family=Open+Sans&family=Poppins:wght@300&family=Quicksand&family=Raleway&family=Roboto+Mono&family=Roboto:wght@300&family=Rubik&family=Sansita+Swashed&family=Titan+One&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: 	#71797E;
    overflow: auto;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: 	#71797E;
    gap: 3rem;
}

.notesDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: rgba(10, 10, 10, 0.3);
}




.screen{
    width: 80vw;
    background-color: #252525;
    height: 25vh;
    border-radius: 0.8rem;
    color: #fff;
    max-width: 40rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: clamp(1.5rem , 4vw , 2rem);
    flex-direction: column;
    margin-top: 2rem;
}
.willbeshown{
    /* font-size: calc(6vw + 12px); */
    font-size: clamp(2rem, 6vw , 3.5rem);
    color: #8f969a;
}

.generate{
    margin-top: 3rem;
    font-size: 2rem;
    padding: 0.3rem 0.7rem;
    border-radius: 1.2rem;
    border: none;
    background-color: #d3d3d3;
    cursor: pointer;
}

.generate:active{
    transform: scale(1.02);
}
.copy{
    background-color: transparent;
    border: 0;
    cursor: pointer;
}
.copy i{
    color: #fff;
    font-size: 2rem;
}
.copy i:active{
    transform: scale(1.1);
}

.shownWrapper{
    display: flex;
    gap: 1rem;
}

.hazem{
    width: 10rem;
}

.titleH1{
    display: flex;
    align-items: center;
    color: #ffffff;
    font-size: 2.8rem;
};



@media  screen and (max-width: 750px) {
    :root{
        font-size: 12px;
    }
}
@media screen and (max-width : 600px) {
    /* :root{
        font-size: 10px;
    } */
    
    .screen{
        height: 20vh;
    }
}